[Desktop Entry]
Name=Nex Desktop Environment
Comment=Modern, lightweight X11 window manager and desktop suite
Exec=start-nexde
Type=Application
DesktopNames=NexDE
